[paths]
source =
    topopy/
    /Users/runner/work/topopy/topopy/topopy/
    /home/runner/work/topopy/topopy/topopy/
    D:\a\topopy\topopy\topopy\

[run]
branch = True
omit =
    topopy/tests/*
    topopy/topology.py
