deprecated/*
extra/*
.vscode/*
build/*
htmlcov/*
*_wrap.cpp
*.csv
*.png
*.dot
topology.py
topopy.egg-info/*
*.so
*.pyd
*pyc
.eggs/*
.cache/*
*.log
*.txt
*tar.gz
*.json
.coverage

.ipynb_checkpoints
docs/_build
.python-version
